In [31]:
#operation on dataframe
import pandas as pd
import numpy as np
info=pd.DataFrame([[3,9]]*4,columns=['S','R'])
print("\n Original Dataframe :\n",info)
print("\n Square root :\n",info.apply(np.sqrt))
print("\n Sum of each column : \n",info.apply(np.sum,axis=0))
print("\n Sum of each rows : \n",info.apply(np.sum,axis=1))

 Original Dataframe :
    S  R
0  3  9
1  3  9
2  3  9
3  3  9

 Square root :
           S    R
0  1.732051  3.0
1  1.732051  3.0
2  1.732051  3.0
3  1.732051  3.0

 Sum of each column :
 S    12
R    36
dtype: int64

 Sum of each rows :
 0    12
1    12
2    12
3    12
dtype: int64

In [32]:
#comparison
import pandas as pd
#import numpy as np
info=pd.DataFrame([[2,4,6],[1,3,5],[5,8,7]],columns=['X','Y','Z'])
print(info)
print(info.agg(['min','max']))

   X  Y  Z
0  2  4  6
1  1  3  5
2  5  8  7
     X  Y  Z
min  1  3  5
max  5  8  7

In [30]:
#adding a column:1
import pandas as pd
import numpy as np
d2=pd.DataFrame([['Sai',88],['Vai',70]],columns=["EmpName","ID"])
print(d2)
d2['Age']=[20,18]
print("\nAdding new column : \n",d2)
d2['Sex']=['Male','Female']
print("\nAdding new column : \n",d2)

  EmpName  ID
0     Sai  88
1     Vai  70

Adding new column :
   EmpName  ID  Age
0     Sai  88   20
1     Vai  70   18

Adding new column :
   EmpName  ID  Age     Sex
0     Sai  88   20    Male
1     Vai  70   18  Female

In [4]:
#adding a new column:2
import pandas as pd
import numpy as np
d2=pd.DataFrame([['Sai',88],['Vai',70]],columns=["EmpName","ID"])
print(d2)
a=d2.assign(Age=[20,18])
print("Adding a new column : \n",a)

  EmpName  ID
0     Sai  88
1     Vai  70
Adding a new column :
   EmpName  ID  Age
0     Sai  88   20
1     Vai  70   18

In [45]:
import pandas as pd
import numpy as np
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col1','col2'])
print(info)
info2=info.sort_index()
print(info2)
info3=info.sort_values(by='col2')
print(info3)
info4=info.sort_values(by='col1')
print(info4)

       col1      col2
3 -0.161867 -1.331992
2 -1.092189  0.219666
0 -0.557138  0.711615
4 -0.638600  1.376318
1 -0.019747 -0.424415
       col1      col2
0 -0.557138  0.711615
1 -0.019747 -0.424415
2 -1.092189  0.219666
3 -0.161867 -1.331992
4 -0.638600  1.376318
       col1      col2
3 -0.161867 -1.331992
1 -0.019747 -0.424415
2 -1.092189  0.219666
0 -0.557138  0.711615
4 -0.638600  1.376318
       col1      col2
2 -1.092189  0.219666
4 -0.638600  1.376318
0 -0.557138  0.711615
3 -0.161867 -1.331992
1 -0.019747 -0.424415

In [3]:
import pandas as pd
import numpy as np
left=pd.DataFrame({'id':[1,2,3,4],'Name':['Sai','Poo','Saba','Yuvi'],'Sub':['Sub1','Sub2','Sub4','Sub3']})
right=pd.DataFrame({'id':[1,2,3,4],'Name':['Sanjay','Saran','Sam','Ruba'],'Sub':['Sub2','Sub4','Sub3','Sub5']})
print(left,'\n')
print(right,'\n')
print(pd.merge(left,right,on="id"))

   id  Name   Sub
0   1   Sai  Sub1
1   2   Poo  Sub2
2   3  Saba  Sub4
3   4  Yuvi  Sub3

   id    Name   Sub
0   1  Sanjay  Sub2
1   2   Saran  Sub4
2   3     Sam  Sub3
3   4    Ruba  Sub5

   id Name_x Sub_x  Name_y Sub_y
0   1    Sai  Sub1  Sanjay  Sub2
1   2    Poo  Sub2   Saran  Sub4
2   3   Saba  Sub4     Sam  Sub3
3   4   Yuvi  Sub3    Ruba  Sub5