In [28]:
import pandas as pd
d=pd.read_csv("FAHIM.csv")
print(d)

   S.no FIRST NAME  GENDER LOGIN TIME  SALARY BONUS TEAM
0     1      FAHIM    MALE       2:30  100000   50%    F
1     2      MEERA  FEMALE       3:30   90000   30%    F
2     3     RASEEN  FEMALE       2:30    7000   20%    F
3     4      FINOZ    MALE       3:00    8000   10%    A
4     5       NESA    MALE       3:00   70000    0%    A
5     6       HEMA  FEMALE       4:00   50000    5%    B
6     7     INAASS   FEMAE       2:30   10000   50%    A
7     8         KI  FEMALE       3:30   90000   30%    B
8     9     NEYMAR    MALE       2:30   70000   20%    B
9    10    RONALDO    MALE       3:00   80000   10%    A

In [29]:
import pandas as pd
df=pd.DataFrame(d)
print("Columns :",df.columns)
print(df.shape)

Columns : Index(['S.no', 'FIRST NAME', 'GENDER', 'LOGIN TIME', 'SALARY', 'BONUS',
       'TEAM'],
      dtype='object')
(10, 7)

In [30]:
import pandas as pd
print("Name :\n",df['FIRST NAME'])

Name :
 0      FAHIM
1      MEERA
2     RASEEN
3      FINOZ
4       NESA
5       HEMA
6     INAASS
7         KI
8     NEYMAR
9    RONALDO
Name: FIRST NAME, dtype: object

In [31]:
print(df[5:10])

   S.no FIRST NAME  GENDER LOGIN TIME  SALARY BONUS TEAM
5     6       HEMA  FEMALE       4:00   50000    5%    B
6     7     INAASS   FEMAE       2:30   10000   50%    A
7     8         KI  FEMALE       3:30   90000   30%    B
8     9     NEYMAR    MALE       2:30   70000   20%    B
9    10    RONALDO    MALE       3:00   80000   10%    A

In [32]:
print("ParticularPersondetails: \n",df.loc[2])

ParticularPersondetails:
 S.no               3
FIRST NAME    RASEEN
GENDER        FEMALE
LOGIN TIME      2:30
SALARY          7000
BONUS            20%
TEAM               F
Name: 2, dtype: object

In [35]:
print(d.loc[d['SALARY']==50000])

   S.no FIRST NAME  GENDER LOGIN TIME  SALARY BONUS TEAM
5     6       HEMA  FEMALE       4:00   50000    5%    B

In [36]:
df=d['SALARY']/50
print(df)

0    2000.0
1    1800.0
2     140.0
3     160.0
4    1400.0
5    1000.0
6     200.0
7    1800.0
8    1400.0
9    1600.0
Name: SALARY, dtype: float64